@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 139 92 246;
    /* Violet 500 default */
    --color-secondary: 6 182 212;
    /* Cyan 500 default */
    --color-accent: 34 197 94;
    /* Green 500 */
  }

  body {
    @apply bg-background text-white antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .glass-panel {
    @apply backdrop-blur-xl bg-glass border border-glass-border;
  }

  .text-glow {
    text-shadow: 0 0 10px rgba(139, 92, 246, 0.5);
  }
}